@import 'themes/dark';
@import 'themes/light';
@import 'variables/global';
@import 'normalize.css';
@import 'fonts/fonts.scss';
@import 'helpers.scss';

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  transition: background-color 0.2s ease, border-color 0.2s ease;
}

body {
  background-color: #030712ff;
  max-height: 100vh;
  height: 100vh;
  overflow: hidden;
}

.app {
  font-family: 'Inter', sans-serif;
  min-height: 100vh;
  background: var(--background);
  color: var(--text);
}

div {
  &::-webkit-scrollbar {
    width: 0.5em;
  }

  &::-webkit-scrollbar-track {
    box-shadow: none;
  }

  &::-webkit-scrollbar-thumb {
    background-color: var(--border);
    border-radius: var(--rad-3);
  }
}
