:root {
  --blue-1: #04257e;
  --blue-2: #0e40c7;
  --blue-3: #3769f1;

  --neutral-1: #172233;
  --neutral-2: #39404f;
  --neutral-3: #585e6c;
  --neutral-4: #757c86;
  --neutral-5: #b2b8bd;
  --neutral-6: #d4d6da;
  --neutral-7: #dfe1e4;
  --neutral-8: #ecedef;

  --yellow: #ffdb4d;
  --red: #ffdb4d;
  --light-blue: #6daae8;
  --dark-blue: #0054b9;

  --rad-1: 5px;
  --rad-2: 10px;
  --rad-3: 20px;

  --h-navbar: 80px;
}
