.AppLogo {
  display: flex;
  align-items: flex-start;
  overflow-y: hidden;
  height: 2rem;
  position: relative;
  padding: 0 20px;
  color: var(--logo);

  &:hover {
    animation: tilt-n-move-shaking 0.25s ease-out 4;

    &:after,
    &:before {
      animation: 1s fade infinite 1.1s alternate ease;
    }

    .dynamicContainer {
      animation: 3s switchDynamicWord 1.1s infinite alternate ease;
    }
  }

  &:after,
  &:before {
    position: absolute;
    font-size: 25px;
    color: var(--logo);
    font-weight: 400;
  }

  &:after {
    content: '[';
    left: 0;
  }

  &:before {
    content: ']';
    position: absolute;
    right: 0;
  }
}

.dynamicContainer {
  display: flex;
  flex-flow: column nowrap;
  gap: 10px;
}

@keyframes switchDynamicWord {
  0% {
    transform: translateY(0rem);
  }
  25% {
    transform: translateY(calc(-2rem - 6px));
  }
  50% {
    transform: translateY(calc(-4rem - 12px));
  }
  100% {
    transform: translateY(calc(-6rem - 18px));
  }
}

@keyframes fade {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes tilt-n-move-shaking {
  0% {
    transform: translateY(0);
    filter: hue-rotate(90deg);
  }
  25% {
    transform: translateY(5px);
    filter: hue-rotate(176deg);
  }
  50% {
    transform: translateY(-5px);
    filter: hue-rotate(256deg);
  }
  75% {
    transform: translateY(5px);
    filter: hue-rotate(300deg);
  }
  100% {
    transform: translateY(0);
    filter: hue-rotate(360deg);
  }
}
