.TaskCard {
  &Header {
    gap: 20px;
  }

  &HeaderLeft {
    display: flex;
    flex-flow: column nowrap;
    gap: 10px;
    align-items: flex-start;
    flex: 3 0;
  }

  &HeaderRight {
    flex: 1 0;
    display: inline-flex;
    justify-content: flex-end;
    align-items: center;
    gap: 40px;
    margin-right: 20px;
  }

  &Name {
  }

  &Status {
    user-select: none;
  }

  &Content {
    padding: 20px;
  }

  &Time {
    display: inline-flex;
    align-items: center;
    gap: 10px;
    user-select: none;

    &Text {
      color: var(--text);
    }

    &Icon {
      width: 30px;
      height: 30px;
      color: var(--border);
    }
  }

  &TaskIcon {
    width: 30px;
    height: 30px;
    color: var(--border);
  }
}
