.UserTasksCard {
  &:not(:last-child) {
    margin-bottom: 30px;
  }

  &Title {
    color: var(--text);
    font-size: 16px;
    font-weight: 600;
    line-height: 20px;
    padding: 4px 8px;
    margin-bottom: 10px;
  }

  &List {
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    gap: 15px;
    margin-left: 16px;
  }

  &ListItem {
    display: inline-flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
  }

  &ListItemText {
    color: var(--text-secondary);
    font-size: 14px;
  }

  &ListTime {
  }
}
