.AppCheckbox {
  position: relative;
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  column-gap: 10px;

  &Label {
    color: var(--text);
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
    cursor: pointer;
  }

  &Input {
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    position: absolute;

    /* Checked */
    &:checked + .AppCheckboxBox {
      background-color: var(--neutral-8);
      background-size: 60%;
      background-image: url("data:image/svg+xml,%3Csvg width='13' height='10' viewBox='0 0 13 10' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M1 4L5 8L12 1' stroke='darkblue' stroke-width='1.6'/%3E%3C/svg%3E%0A");
    }

    /* Disabled */
    &:disabled + .AppCheckboxBox {
      border-color: var(--gray);

      & ~ .AppCheckboxLabel {
        color: var(--gray);
      }
    }

    /* Disabled & Checked */
    &:disabled:checked + .AppCheckboxBox {
      border-color: var(--gray);
      background-color: var(--gray);
    }

    /* Focused */
    &:focus + .AppCheckboxBox {
      outline-color: var(--blue-3);
    }

    /* Focused & Checked */
    &:focus:checked + .AppCheckboxBox {
      outline-color: var(--blue-3);
    }
  }

  &Box {
    box-sizing: border-box;
    min-width: 15px;
    min-height: 15px;
    border: 1px solid var(--gray);
    border-radius: var(--rad-1);
    background-color: transparent;
    background-repeat: no-repeat;
    background-position: center;
    outline: 2px solid transparent;
    transition: all 0.2s ease;
    cursor: pointer;
  }
}
