.AppBadge {
  transition-property: color, background-color, border-color,
    text-decoration-color, fill, stroke;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-duration: 0.15s;
  color: var(--dark);
  background-color: var(--light);
  font-weight: 600;
  font-size: 0.75rem;
  line-height: 1rem;
  padding: 0.125rem 0.625rem;
  border-color: transparent;
  border-width: 1px;
  border-radius: 9999px;
  display: inline-flex;
  align-items: center;
}

.success {
  color: #10172a;
  background-color: chartreuse;
}

.warning {
  color: #10172a;
  background-color: gold;
}

.error {
  color: #ffffff;
  background-color: crimson;
}

.info {
  color: #ffffff;
  background-color: var(--blue-3);
}
