.app.dark {
  --background: #030712;
  --border: #1d283aff;
  --dark: #10172a;
  --light: #ffffff;
  --gray: #878b95;
  --text: #ffffff;
  --text-secondary: #7f8ea3;
  --accent: var(--blue-3);

  --navbar-background: var(--background);
  --logo: var(--yellow);
}
