.app.light {
  --dark: #ffffff;
  --light: #10172a;
  --gray: #878b95;
  --accent: var(--blue-3);
  --border: #e2e8f0;
  --text: #10172a;
  --text-secondary: #64748b;
  --background: var(--dark);

  --navbar-background: var(--dark);
  --logo: var(--accent);
}
