.AppSelect {
  appearance: none;
  background-color: transparent;
  border: none;
  padding: 0 24px 0 0;
  margin: 0;
  width: 100%;
  font-family: inherit;
  cursor: pointer;
  line-height: inherit;
  font-size: 0.875rem;
  color: var(--text);

  &::-ms-expand {
    display: none;
  }

  // Remove focus outline, will add on alternate element
  outline: none;
}

.AppSelectContainer {
  padding: 8px 12px;
  border-radius: var(--rad-1);
  border-color: var(--border);
  border-width: 1px;
  border-style: solid;
  position: relative;
}

.AppSelectArrow {
  position: absolute;
  top: 50%;
  right: 12px;
  transform: translateY(-50%);
  color: var(--gray);
  width: 16px;
  height: 16px;
  pointer-events: none;
}

.AppSelectOption {
  background-color: var(--background);
  padding: 2px 6px;
}
