.AppAccordion {
  &Header::-webkit-details-marker {
    display: none;
  }

  & > summary {
    list-style: none;
  }

  &Header {
    cursor: pointer;
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    justify-content: space-between;
    padding: 20px;
    border: 1px solid var(--border);
    border-radius: var(--rad-2);
  }

  &HeaderArrow {
    color: var(--gray);
    width: 24px;
    height: 24px;
    pointer-events: none;
    transition: transform 0.2s ease;
  }

  &[open] &HeaderArrow {
    transform: rotate(180deg);
  }

  &Content {
    border-bottom-width: 1px;
    border-left-width: 1px;
    border-right-width: 1px;
    border-color: var(--border);
    border-style: solid;
    border-top-style: none;
  }

  &[open] &Header {
    border-radius: var(--rad-2) var(--rad-2) 0 0;
  }
}
