.AppButton {
  background-color: var(--light);
  color: var(--dark);
  display: inline-flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  padding: 0.5rem 1rem;
  font-weight: 500;
  font-size: 0.875rem;
  line-height: 1.25rem;
  border-color: transparent;
  cursor: pointer;
  border-radius: var(--rad-1);
  transition: opacity 0.2s ease;

  &:hover {
    opacity: 0.9;
  }
}

.AppButtonLink {
  font-weight: 500;
  font-size: 0.875rem;
  line-height: 1.25rem;
  cursor: pointer;
  color: var(--light);
  transition: border 0.1s ease;
  border-bottom: 1px solid transparent;
  text-decoration: none;

  &:hover {
    border-color: var(--light);
  }
}
