.navbar {
  width: 100%;
  height: var(--h-navbar);
  padding: 0 30px;
  background-color: var(--navbar-background);
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 10px;
  border-bottom: 1px solid var(--border);
}

.navbarLogo {
  color: var(--yellow);
}

.navbarRight {
  display: flex;
  align-items: center;
  gap: 15px;
}

.navbarSelect {
  width: 300px;
}

button.navbarSprintBtn {
  padding: 0.25rem 1rem;
  margin-right: 20px;
}
