.AppThemeSwitcher {
  color: var(--light);
  border: none;
  background-color: transparent;
  cursor: pointer;
  transition: transform 0.25s ease;
  padding: 0;
  margin: 0;

  &:hover {
    transform: scale(1.1);
  }

  &Icon {
    width: 24px;
    height: 24px;
  }
}
