.MainPage {
  display: flex;
  flex-flow: row nowrap;
  justify-content: flex-start;
  gap: 20px;

  &Content {
    display: flex;
    flex-flow: column nowrap;
    align-items: stretch;
    gap: 40px;
    padding: 20px 20px 20px 0;
    flex: 20 1;
    max-height: calc(100vh - var(--h-navbar));
    overflow-y: auto;
  }

  &Aside {
    flex: 6 1;
    max-height: calc(100vh - var(--h-navbar));
    overflow-y: auto;
  }

  &UserGroups {
    &Title {
      margin-bottom: 20px;
      text-transform: uppercase;
    }

    &List {
      display: flex;
      flex-flow: column nowrap;
      gap: 10px;
    }
  }
}
